$primary: #24B6D8;
$secondary: #36548D;
$tertiary: #7D8398;
$error: #AF4357;
$neutral: #3B4B55;
$pending: #F6BC2A;
$success: #65A839;

$note1: #65A839;
$note2: #24B6D8;
$note3: #F6BC2A;
$note4: #333C70;
$note5: #AF4357; // -35 497.5