@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/Inter_24pt-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter SB';
    src: url('/fonts/inter/Inter_24pt-SemiBold.ttf') format('truetype');
}